@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.master {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masterInt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
}

.menu {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    gap: 20px;
}

.menu h1 {
    font-size: 25px;
    text-align: center;
}

.menu input {

    padding: 7px;
    border-radius: 8px;
    border: none;
    border: 1px solid gray;
    font-size: 16px;
}

.buttons {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.buttons button {
    padding: 7px;
    border-radius: 8px;
    border: none;
    border: 1px solid #e6151e;
    background-color: #e6151e;
    color: #fff;
    font-size: 16px;
}

.buttons button:hover {
    background-color: #d41c2f;
    color: white;
    cursor: pointer;
}

.buttons button:active {
    background-color: #e6151e;
}

.blackLine {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
}

.blackLine div{
    height: 100%;
    width: 2px;
    background-color: gray;
}



.Questions {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.hide {
    display: none;
}

.Question h2 {
    text-align: center;
}

.Answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.Answers button {
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100%;
    font-size: 15px;
}

.Answers button:hover {
    background-color: #ccc8c8;
    cursor: pointer;
}